<div class="diaries">
<日記メイン部分>

<p>テスト</p>
test


<p>1234567890</p>




<p>１２３４５６７８９０</p>




<p>おはようございます。</p>

<p>00000000000000000000000000000000000000000000000000000000000000000000000000</p>



<h1>good morning.</h1>
</div>

<div class="form">
日記を打ち込む場所
</div>