<div class="diary-header">
  <div class="left-header">
      <%# カレンダーと同期させる %>
    <div class="header-date">
      2020年8月20日
    </div>
    <div class="header-name">
      <%= link_to edit_user_path(current_user) do %>
        <%= current_user.name %>
      <% end %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
       <%= link_to "logout", destroy_user_session_path, method: :delete, class: 'logout-button'%>
    </div>
  </div>
</div>

<div class="diaries">
  <div class="main-diary">

    <div class="message">
      <div class="upper-message">
        <div class="message-date">
          2020/08/20(Thu) 16:00:40
        </div>
      </div>
      <div class="lower-message">
        <div class="massage-content">
          今日の天気は晴れ。今日感じたことは〜〜
        </div>
      </div>
    </div>

    <div class="message">
      <div class="upper-message">
        <div class="message-date">
          2020/08/20(Thu) 16:00:40
        </div>
      </div>
      <div class="lower-message">
        <div class="massage-content">
          今日の天気は晴れ。今日感じたことは〜〜
        </div>
      </div>
    </div>

  </div>
</div>

<div class="form">
  <div class="form-input">
    <textarea class="form-message" placeholder=""></textarea>
  </div>
  <input class="form-submit" type="submit" value="wirte">
</div>