<div class="side-bar-header">
  <div class="search-input">
    <input class="search-diary" placeholder= "search word">
  </div>
  <input type="submit" value="&#xf002;" class="fas">
</div>

<hr width="200">

<div class="contents">
  <div class="content">
    <div class="content-date">
      <%= link_to '2020年8月20日', '#' %>
    </div>
    <div class="content-name">
      <%= link_to '日記の題名1', '#'%>
    </div>
        <div class="content-date">
      <%= link_to '2020年8月21日', '#' %>
    </div>
    <div class="content-name">
      <%= link_to '日記の題名2', '#'%>
    </div>
  </div>



</div>