<section class="effect-fade">
  <div class="wrapper">
    <div class="side-bar" >
      <%= render "side_bar" %>
    </div>
    <div class="diary" >
      <%= render "main_diary" %>
    </div>
  </div>
</section>