.wrapper {
  display: flex;
}

/* 左側のメニューの親要素 */
.side-bar {
  background-color: #f0e9d5;
  width: 300px;
  height: 100vh;
  font-family: "游明朝体";
  margin: 50px;
  box-shadow:
  0 2px 3px rgba(0, 0, 0, 0.057),
  0 5px 6px rgba(0, 0, 0, 0.076),
  0 1px 1.4px rgba(0, 0, 0, 0.086),
  0 1px 10.8px rgba(0, 0, 0, 0.092),
  0 3px 29.8px rgba(0, 0, 0, 0.1),
  0 101px 74px rgba(0, 0, 0, 0.13);
}

/* 左側メニューのヘッダー要素 */
.side-bar-header {
  background-color: #f0e9d5;
  height: 90px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  display: flex;
}

/* 検索フォーム部分 */
.search-diary {
  width: 160px;
  color: rgba(87, 87, 80, 0.8);
  font-size: 16px;
  padding-left: 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow:
  1px 1px 3px rgba(163, 163, 158, 0.5),
  -1px -1px 3px rgba(248, 253, 255, 0.9),
  inset 10px 10px 30px transparent,
  inset -10px -10px 30px transparent;
}

.search-diary::placeholder {
  text-align: center;
  color: rgba(87, 87, 80, 0.8);
  font-size: 16px;
}

/* 虫眼鏡ボタン */
.fas {
  border: none;
  padding: 10px 10px;
  margin: 10px;
  color: rgba(87, 87, 80, 0.8);
  font-size: 13px;
  background-color:rgba(248, 253, 255, 0.9);
  border-radius: 10px;
  outline: none;
  transition: box-shadow 0.5s;
  box-shadow:
  1px 1px 3px rgba(163, 163, 158, 0.5),
  -1px -1px 3px rgba(248, 253, 255, 0.9),
  inset 10px 10px 30px transparent,
  inset -10px -10px 30px transparent;
}

.fas:hover {
  box-shadow:
  1px 1px 3px transparent,
  -1px -1px 3px transparent,
  inset 3px 3px 13px rgba(89, 90, 92, 0.5),
  inset -5px -5px 6px rgba(248, 253, 255, 0.9);
}

hr {
  border: ridge 1px #fffcf4;
}

/* 左側の日記一覧部分の親要素 */
.contents {
  background-color: #f0e9d5;
  height: calc(100vh - 140px);
  padding: 20px 15px;
  margin: 20px 0 30px 0;
  overflow: scroll;
  word-wrap: break-word;
}

/* スクロールの幅の設定 */
.contents::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* スクロールの背景の設定 */
.contents::-webkit-scrollbar-track {
  background-color: #f0e9d5;
}

/* スクロールのつまみ部分の設定 */
.contents::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #fffcf4;
}

/* 日記一覧部分 */
.content {
  padding: 5px 20px;
  text-decoration: none;
}

/* 日記の日付 */
.content-date {
  text-decoration: none;
  color: rgba(87, 87, 80, 0.8);
}

/* 日記の見出し */
.content-name {
  padding-bottom: 15px;
  text-decoration: none;
  color: rgba(54, 44, 9, 0.87);
}

/* 右側のメニューの親要素 */
.diary {
  background-color: #fffcf4;
  color: #333333;
  width: calc(90% - 300px);
  font-family: "游明朝体";
  /* 仮設定フォント */
  margin: 30px;
  box-shadow:
  0 1.9px 2.5px rgba(0, 0, 0, 0.057),
  0 5px 6.1px rgba(0, 0, 0, 0.076),
  0 10.1px 11.4px rgba(0, 0, 0, 0.086),
  0 19.2px 19.8px rgba(0, 0, 0, 0.092),
  0 38.4px 34.8px rgba(0, 0, 0, 0.1),
  0 101px 74px rgba(0, 0, 0, 0.13);
}

/* 右側のメニューのヘッダーの親要素 */
.diary-header {
  background-color: #f5f1e6;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

/* 右側のメニューの左ヘッダーの親要素 */
.left-header {
  display: flex;
}

/* 右側メニュー左ヘッダーのロゴ要素 */
.header-logo {
  font-family:  ;
  font-size: 20px;
  margin: 32px;
  padding: 24px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow:
  1px 1px 3px rgba(89, 90, 92, 0.5),
  -1px -1px 3px rgba(245, 245, 235, 0.9),
  inset 3px 2px 13px transparent,
  inset -2px -2px 3px transparent;
}

.header-logo a {
  color: #333;
  text-decoration: none;
}

.header-logo a:hover {
  text-decoration: underline;
  color: #333333;
}


/* 右側メニューのヘッダー左ーのユーザー名(ユーザー編集機能)要素 */
.header-name {
  margin: 40px 0;
  border: none;
  padding: 12px 0;
  color: rgba(87, 87, 80, 0.8);
  font-size: 15px;
}

.header-name a {
  text-decoration: none;
  color: rgba(87, 87, 80, 0.8);
}

.header-name a:hover {
  text-decoration: underline;
  color: #333333;
}

/* 右側メニュー右のログアウトボタン */
.header-button {
  margin: 25px 40px;
  border: none;
  padding: 12px 18px;
  color: rgba(87, 87, 80, 0.8);
  font-size: 15px;
  background-color:rgba(248, 253, 255, 0.9);
  border-radius: 10px;
  outline: none;
  transition: box-shadow 0.5s;
  box-shadow:
  5px 5px 15px rgba(89, 90, 92, 0.5),
  -10px -10px 30px rgba(248, 253, 255, 0.9),
  inset 10px 10px 30px transparent,
  inset -10px -10px 30px transparent;
}

.header-button a {
  text-decoration: none;
  color: rgba(87, 87, 80, 0.8);
}

.header-button:hover {
  box-shadow:
  10px 10px 30px transparent,
  -10px -10px 30px transparent,
  inset 10px 10px 30px rgba(89, 90, 92, 0.5),
  inset -10px -10px 30px rgba(248, 253, 255, 0.9);
}

/* 日記詳細部分 */
.diaries {
  background-color: #fffcf4;
  color: #333333;
  height: calc(100vh - 100px - 250px);
  font-family: "游明朝体";
  /* 仮設定フォント */
  padding: 30px 40px 0;
  overflow: scroll;
  word-wrap: break-word;
}

/* スクロールの幅の設定 */
.diaries::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* スクロールの背景の設定 */
.diaries::-webkit-scrollbar-track {
  background-color: #fffcf4;
}

/* スクロールのつまみ部分の設定 */
.diaries::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #ece9de;
}

/* 日記内容部分の親要素 */
.message {
}

/* 日記内容 上部分(日付とeditボタン)の親要素 */
.upper-message {
display: flex;
}

/* 日記内容 日付部分 */
.message-date {
  color: rgba(54, 44, 9, 0.87);
}

/* 日記内容 下部分(日記内容とdeleteボタン)の親要素 */
.lower-message {
  display: flex;
  justify-content: space-between;
}

/* 削除(delete)ボタン */
.delete-btn {
  opacity: 0;
}

.message:hover .delete-btn {
  opacity: 0.7;
  text-decoration: none;
  color: #333333;
}

.message .delete-btn:hover {
  opacity: 1;
  color: #333333;
}

/* 日記内容部分 */
.message-content {
color: #333333;
font-size: 16px;
padding-left: 10px;
margin-bottom: 20px;
white-space: pre-line;
}

/* 日記投稿フォーム部分の親要素 */
.form {
  background-color: #ece9de;
  height: 260px;
  padding: 20px 40px;
  display: flex;
}

/* 日記投稿フォーム、日付部分の親要素 */
.form-input {
  width: calc(100% - 100px);
  box-shadow:
  10px 10px 20px rgba(89, 90, 92, 0.5),
  -10px -10px 30px rgba(248, 253, 255, 0.9),
  inset 10px 10px 30px transparent,
  inset -10px -10px 30px transparent;
}

/* 日付部分 */
.date-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #ffffff
}

.form-date {
  padding: 10px 0  0 20px ;
  border: none;
  font-size: 16px;
  outline: none;
  color: rgba(54, 44, 9, 0.87);
}

/* 日記投稿フォーム部分 */
.form-message {
  border: none;
  height: 188px;
  width: 100%;
  font-size: 15px;
  outline: none;
  padding: 10px 50px 40px 50px;
}

/* 日記投稿ボタン部分 */
.form-submit {
  background-color:rgba(248, 253, 255, 0.9);
  border: none;
  color: rgba(87, 87, 80, 0.8);
  height: 50px;
  width: 100px;
  margin: 165px 0px 0px 30px;
  outline: none;
  border-radius: 10px;
  transition: box-shadow 0.5s;
  box-shadow:
  7px 7px 20px rgba(89, 90, 92, 0.5),
  -5px -5px 30px rgba(248, 253, 255, 0.9),
  inset 10px 10px 30px transparent,
  inset -10px -10px 30px transparent;
}

.form-submit:hover {
  box-shadow:
  10px 10px 30px transparent,
  -10px -10px 30px transparent,
  inset 10px 10px 30px rgba(89, 90, 92, 0.5),
  inset -1px -1px 30px rgba(248, 253, 255, 0.9);
}

/* 検索後のページ要素 */
.diaries-search {
  background-color: #fffcf4;
  color: #333333;
  height: 88vh;
  font-family: "游明朝体";
  /* 仮設定フォント */
  padding: 46px 40px 0;
  overflow: scroll;
  word-wrap: break-word;
}

/* スクロールの幅の設定 */
.diaries-search::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* スクロールの背景の設定 */
.diaries-search::-webkit-scrollbar-track {
  background-color: #fffcf4;
}

/* スクロールのつまみ部分の設定 */
.diaries-search::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #ece9de;
}

/* 日記投稿画面に戻るボタン */
.back-btn {
text-align: center;
}

.back-btn a {
  text-decoration: none;
  color: rgba(87, 87, 80, 0.8);
}

.back-btn a:hover {
  text-decoration: underline;
  color: #333333;
}

/* エフェクト機能 */

/* エフェクト メインページ、サイドバー */
.effect-fade {
  opacity: 0;
  transform: translate(0, 40px);
  transition: all 2000ms;
  }
  
  .effect-fade.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
  }